body {
    background: #f5f8fa;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1976d2;
  }
  
  form label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
  }


  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
  }
  
  button {
    background: #1976d2;
    color: white;
    padding: 12px;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
 .ar{
    margin-left: 12rem;
 }

 .al{
    margin-left: 10rem;
 }
  button:hover {
    background: #0d47a1;
  }
  
  .message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: green;
  }
  